# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and debug files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test and cache files
.tox/
.nox/
.cache/
pytest_cache/

# Streamlit files
.streamlit/

# Temporary files
*.tmp
*.bak
*.old
*.orig
*.save

